@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');


* {
    box-sizing: border-box;
  }


  body,html {
    font-family: "Fraunces", sans-serif;
    background-color: rgb(21, 26, 26);
    color: aliceblue;
}
  .row {
    display: flex;
  }

  h1{
      color:rgb(255, 255, 255);
      margin-top: 150px;
      margin-left: 600px;
      margin-bottom: -160px;
  }

.container {
    float: center;
    width: 33.33%;
    padding: 105px;
    display: flex;
    margin-top: 100px;
    margin-left: 140px;
  }


  button{
     color: rgb(3, 3, 3);
     background-color: rgb(255, 255, 255);
     margin-left: 120px;
     position: relative;
     margin-top: 30px;
     font-size: 30px;
     font-family: 'Courier New', Courier, monospace;

  }
  
  .newch{
    position: absolute;
    left: 26%;
    bottom:10%;
    width: 0rem;
  }
  
  .newch.active{
    width: 30rem;
    display:flex;
  }

  .two{
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 0rem;
  }
  
  .two.active{
    width: 30rem;
  }
  
  .last{
    position: absolute;
    left: 67%;
    bottom: 10%;
    width: 0rem;
  }

  .last.active{
    width: 30rem;
  }



